.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
    margin-top: 35px;
  } 
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }


  .ReactModal__Overlay--after-open{ 
    background-color: rgb(207 211 236 / 68%) !important;
    z-index: 1000000 !important; 
  } 

  .ReactModal__Overlay--after-open .ReactModal__Content.ReactModal__Content--after-open{
    box-shadow: 3px 0px 16px 1px #646a8bba!important;
    border:2px solid rgb(160 169 218)!important;
    background: #d8d8d8!important;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  